{% block content %}
<h1>
    {{ post.title }}
</h1>
<p>
Published {{ post.publish }} by {{ post.author }}
</p>
{{ post.body|linebreaks }}

{% with post.comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}

{% for comment in post.comments.all %}
    <div>
        <p>
            Comment by {{ comment.username }} {{ comment.created }}
        </p>
       {{ comment.body|linebreaks }}
    </div>
   {% empty %}
     <p>There are no comments yet.</p>
{% endfor %}

{% endblock %}