
{% block content %}
  <h1>My Blog</h1>
  {% for post in posts %}
    <h2>
        <a href="{{ post.get_url }}">
            {{ post.title }}
          </a>
    </h2>
    <p>
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {% if post.tags.count %}
    <p>
      Tags {{ post.tags.all|join:', '}}
    </p>
    {% endif %}
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}

  <div>
      <span>
        {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}
      </span>
      <span>
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>
      <span>
          {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
          {% endif %}
      </span>
 </div>

{% endblock %}